<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="font">Menú</ion-title>
    <!--<ion-icon name="person" class="floata" (click)="pasarDatos()"></ion-icon>-->
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <div *ngFor = "let x of arregloUsuarios">

      <center><h4 class="font">¡¡Bienvenido {{ x.nombre }}!!</h4></center>
      <div>
        <center><img src="../../../assets/img/car1.gif" alt="" class="baner"></center>
      </div>
      <div>
        <center><p class="podio">🏆 Podio 🏆</p></center>
        <ion-row>
          <ion-col>
            <center>
              <ion-card class="sombra" color="mycolor">
                <ion-card-header>
                  <ion-card-title class="font cardtittle">ㅤMessiㅤ</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <img src="../../../assets/img/messi.jpg" alt="" class="foto">
                  <ion-card-subtitle class="font">Turbo 🚀</ion-card-subtitle>
                </ion-card-content>
              </ion-card>
            </center>
          </ion-col>
          <ion-col>
            <center>
              <ion-card class="sombra" color="mycolor">
                <ion-card-header>
                  <ion-card-title class="font cardtittle">Amongas</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <img src="../../../assets/img/amongus.jpg" alt="" class="foto2">
                  <ion-card-subtitle class="font">Retro 👾</ion-card-subtitle>
            

                </ion-card-content>
              </ion-card>
            </center>
          </ion-col>
        </ion-row>
        <div *ngFor="let y of arregloViajes">
          <ion-list>
            <ion-item (click) = "pasarDatosViaje()">
              <img src="../../assets/img/cheems.png" alt="" class="viaje mar ">
              <ion-label class="inpu font">Salida: {{ y.hora_salida }} - {{ y.destino }} <p>{{ y.asientos_ocupa }}/{{ y.asientos_dispo }} Asientos</p></ion-label>
            </ion-item>
          </ion-list>
        </div>
          <center>
            <div *ngFor = "let y of arregloDetalleViajes">
              <div *ngIf = "y.idusuario == arregloUsuarios[0].id_usuario">
                <ion-button color="mycolor" size="medium" class="font" (click) = "verViajePajasero(y)">mi viaje :3</ion-button>
              </div>
            </div>
            <div *ngFor = "let x of arregloViajes">
              <div *ngIf = "x.idvehiculo == arregloVehiculos[0].id_vehiculo">
                <ion-button color="mycolor" size="medium" class="font" (click) = "verViajeConductor(x)">Mi Viaje 👨‍✈️</ion-button>
              </div>
            </div>
          </center>
      </div>

  </div>

</ion-content>