

h1{
	margin-top: 50px;
    text-align: center;
	font-family: Silkscreen-Regular;
	margin-bottom: 10px;
}

.img2{
	max-width: 25px;
	margin-left: 10px;
	
}

.sombra{
	box-shadow: 10px 10px 10px black;
}

.img1{
    max-width: 240px;
    border-radius: 100px;
	border-width: 3px; 
	border-radius: 10px;
}

p{
    text-align: center;
	font-size: 15px;
	color: rgba(255, 255, 255, 0.932);
	margin-bottom : 60px;
	border-radius: 10px;
	margin-left: 10px;
	margin-right: 10px;
	font-family: Silkscreen-Regular;
	
}

.ion-color-mycolor {
	--ion-color-base: var(--ion-color-mycolor);
	--ion-color-base-rgb: var(--ion-color-mycolor-rgb);
	--ion-color-contrast: var(--ion-color-mycolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-mycolor-shade);
	--ion-color-tint: var(--ion-color-mycolor-tint);
}


h1{
	color: aliceblue;
}

.font{
	font-family: Silkscreen-Regular;
}

.img3{
	margin-top: 20px;
	max-width: 180px;
}