<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="font">Datos del Viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <center>
    <h4 class="font">Ruta</h4>
  </center>
  <center><img src="assets/img/mapa.PNG" alt=""></center>
  <center>
    <ion-item>
      <p class="info font">Patente:</p>
      <ion-label class="font icolo">PR206</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Marca:</p>
      <ion-label class="font icolo">Tesla</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Modelo:</p>
      <ion-label class="font icolo">5000Z</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Color:</p>
      <ion-label class="font icolo">Gris</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Salida:</p>
      <ion-label class="font icolo">19:00</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Destino:</p>
      <ion-label class="font icolo">Til-Til</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Chofer:</p>
      <ion-label class="font icolo">Carlos</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Tarifa:</p>
      <ion-label class="font icolo">{{2000 | currency:'CLP'}}</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Asientos:</p>
      <ion-label class="font icolo">0/4</ion-label>
    </ion-item>
    <ion-item>
      <p class="info font">Sector:</p>
      <ion-label class="font icolo">C</ion-label>
    </ion-item>
  </center>

  <center><img src="assets/img/Sectores.png" alt="" *ngIf="isDisplayImage">
    <button ion-button (click)="displayImage()" class="font" mat-raised-button matTooltip="Mostrar/Ocultar Mapa"
      aria-label="Button that displays a tooltip when focused or hovered over">Mapa de Sectores</button>
  </center>

  <ion-button expand="block" color="mycolor" class="margen font" (click)="eliminarViaje()">Realizar agendamiento
  </ion-button>
</ion-content>