<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Mi viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <center><ion-icon name="car" class="icon"></ion-icon></center>
  <div *ngFor="let x of arregloViajes">
    <ion-item lines="full">
      <p class="info font">Salida:</p>
      <ion-label type="time" required class="inpu2 font">{{x.hora_salida}}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <p class="info font">Asientos:</p>
      <ion-label type="text" required class="inpu2 font">{{x.asientos_ocupa}}/{{x.asientos_dispo}}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <p class="info font">Tarifa:</p>
      <ion-label type="text" required class="inpu2 font">{{x.monto}}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <p class="info font">Sector:</p>
      <ion-label type="text" required class="inpu2 font">{{x.sector}}</ion-label>
    </ion-item>
    <ion-item lines="full">
      <p class="info font">Destino:</p>
      <ion-label type="text" required class="inpu2 font">{{x.destino}}</ion-label>
    </ion-item>
  </div>
  <ion-row>
    <ion-col>
      <ion-button (click) = "presentAlert2()" expand ="block" color="mycolor">Empezar viaje</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand ="block" color="mycolor" (click)="modificar()">Modificar viaje</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="danger" (click) = "presentAlert()">Cancelar viaje</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
</ion-content>
