<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title>Mi viaje</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <center><ion-icon name="car" class="icon"></ion-icon></center>
  <ion-row>
    <ion-col>
      <ion-button (click) = "presentAlert2()" expand ="block" color="mycolor">Empezar viaje</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand ="block" color="mycolor" (click)="modificar()">Modificar viaje</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button expand="block" color="danger" (click) = "presentAlert()">Cancelar viaje</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
  </ion-row>
</ion-content>
