.img2{
    max-width: 150px;
    margin-top: 20px;
}

.ion-color-mycolor {
	--ion-color-base: var(--ion-color-mycolor);
	--ion-color-base-rgb: var(--ion-color-mycolor-rgb);
	--ion-color-contrast: var(--ion-color-mycolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-mycolor-shade);
	--ion-color-tint: var(--ion-color-mycolor-tint);
}

.sombra{
	box-shadow: 10px 5px 5px black;
}

.inpu{
	color: aliceblue;
}

.inpu2{
	color: rgb(124, 134, 134);
}

/*
.aaa{
	--background: #0a020e;
	opacity: 0.5;

}*/


p{
	color: rgb(62, 101, 230);
	margin-left: 10px;
	font-size: small;
}

.siu{
	margin-top: 10px;
}

div{
	margin-top: 200px;
	color: aliceblue;
	font-size: small;
}

.pan{
	float:right;
}

a{
	text-decoration: none;
	margin-left: 5px;
}


span{
	color: rgb(62, 101, 230);
	font-size: small;
}

.font{
	font-family: Silkscreen-Regular;
}