<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="font">Inicio de Sesión</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="body">
  <center><img src="../../../assets/img/cheems.png" alt="" class="img2"></center>
    <ion-item lines="full" class="aaa">
      <ion-label position="floating" class="inpu font">Email:</ion-label>
      <ion-input type="text" required class="inpu2 font" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="full" class="aaa">
      <ion-label position="floating" class="inpu font">Contraseña:</ion-label>
      <ion-input type="password" required class="inpu2 font" [(ngModel)]="clave"></ion-input>
    </ion-item>
    <ion-button expand="block" color="mycolor" (click)="validar()" class="font">Acceder</ion-button>
 
    <p [routerLink]="['/recup-contra']" class="font" class="ion-text-center">¿Has olvidado la contraseña?</p>
  
  <center>
    <div class="font">¿No tienes una cuenta? <span [routerLink]="['/registro']" class="font">Registrate :D</span></div>
  </center>
</ion-content>