<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="font">Mi vehiculo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="body">
    <center>
      <h3 class="font">Datos de vehiculo</h3>
      <p>No tienes un vehiculo registrado...</p>
    </center>
        
      <div *ngFor="let x of arregloVehiculos">
        <center>
          <ion-item >
              <p class="info font">Patente:</p>
              <ion-label class="font icolo">{{ x.patente }}</ion-label>
            </ion-item>
          <ion-item >
            <p class="info font">Marca:</p>
            <ion-label class="font icolo">{{ x.marca }}</ion-label>
          </ion-item>
          <ion-item >
            <p class="info font">Modelo:</p>
            <ion-label class="font icolo">{{ x.modelo }}</ion-label>
          </ion-item>
          <ion-item >
            <p class="info font">Color:</p>
            <ion-label class="font icolo">{{ x.color }}</ion-label>
          </ion-item>
        </center>
    


        <ion-button expand="block" color="mycolor"  (click)="modificar(x)">Modificar vehiculo</ion-button>
        <ion-button type=submit expand="block" color="danger"  (click)="presentAlert(x)">Eliminar vehiculo
        </ion-button>
      </div>
      <ion-button [routerLink]="['/registrar-v']" expand="block" color="mycolor" *ngIf = "arregloVehiculos[0] == null">Agregar vehiculo
      </ion-button>
</ion-content>