.ion-color-mycolor {
	--ion-color-base: var(--ion-color-mycolor);
	--ion-color-base-rgb: var(--ion-color-mycolor-rgb);
	--ion-color-contrast: var(--ion-color-mycolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-mycolor-shade);
	--ion-color-tint: var(--ion-color-mycolor-tint);
}

.chuno{
	margin-left: 10px;
	color: aliceblue;
}

.chunoa{
	margin-top: 10px;
}

.chunob{
	margin-bottom: 10px;
}

h3{
	color: aliceblue;
	margin-left: 10px;
	padding-top: 20px;
}

span{
	background-color: rgb(26, 9, 53);
	border-radius: 5px;
	padding: 5px;
}

.coloooor{
	color: aliceblue;
	margin-left: 20px;
}

.texto-dos {
	float: left;
}

.fondo{
	background-color: rgb(6, 3, 12);
	margin-top: 100px;
	padding-bottom: 20px;
}

img{
	border-radius: 7px;
	width: 250px;
}

h4{
	color: aliceblue;
}

.margen{
	margin-bottom: 10px;
}


span{
	background-color: rgb(26, 9, 53);
	border-radius: 5px;
	padding: 5px;
}


div{
		background-color: rgb(12, 14, 14);
		padding-bottom: 6px;
		border-color: rgb(15, 3, 29);
		border-style: solid;
		margin-bottom: 10px;
		margin-top: 10px;
}

.font{
	font-family: Silkscreen-Regular;
}

ion-button{
	font-family: Silkscreen-Regular;
}

p{
	font-family: Silkscreen-Regular;
}


.icolo{
	color: rgb(134, 139, 143);
	margin-left: 10px;
}

