<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="font">Mi vehiculo</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="body">
  <center>
    <h3 class="font">Datos de vehiculo</h3>
    <p *ngIf="p == ''">No tienes un vehiculo registrado...</p>
  </center>
  <center>
    <ion-item *ngIf="p != ''">
      <p class="info font">Patente:</p>
      <ion-label class="font icolo">{{ p | uppercase}}</ion-label>
    </ion-item>
    <ion-item *ngIf="p != ''">
      <p class="info font">Marca:</p>
      <ion-label class="font icolo">{{ m | uppercase}}</ion-label>
    </ion-item>
    <ion-item *ngIf="p != ''">
      <p class="info font">Modelo:</p>
      <ion-label class="font icolo">{{ o | uppercase}}</ion-label>
    </ion-item>
    <ion-item *ngIf="p != ''">
      <p class="info font">Color:</p>
      <ion-label class="font icolo">{{ l | uppercase}}</ion-label>
    </ion-item>
  </center>


  <ion-button [routerLink]="['/registrar-v']" expand="block" color="mycolor" *ngIf="p == ''">Agregar vehiculo
  </ion-button>
  <ion-button expand="block" color="mycolor" *ngIf="p != ''" (click)="modificarDatos()">Modificar vehiculo</ion-button>
  <ion-button type=submit expand="block" color="danger" *ngIf="p != ''" (click)="presentAlert()">Eliminar vehiculo
  </ion-button>
</ion-content>