<ion-header>
  <ion-toolbar color = "mycolor">
    <ion-title class="font">Modificar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <ion-item lines="full">
    <p class="info font">Salida:</p>
    <ion-input type="time" required class="inpu2"  [(ngModel)]="horario"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <p class="info font">Destino:</p>
    <ion-input type="text" required class="inpu2"  [(ngModel)]="destino"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <p class="info font">Tarifa:</p>
    <ion-input type="text" required class="inpu2"  [(ngModel)]="tarifa"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <p class="info font">Asientos:</p>
    <ion-input type="text" required class="inpu2"  [(ngModel)]="asientos"></ion-input>
  </ion-item>
  <ion-item lines="full">
    <p class="info font">Sector:</p>
    <ion-input type="text" required class="inpu2"  [(ngModel)]="sector"></ion-input>
  </ion-item>
  <center><img src="assets/img/Sectores.png" alt="" *ngIf="isDisplayImage">
    <button ion-button (click)="displayImage()" class="font">Mapa de Sectores</button>
  </center>
  <center><h4 class="font">Seleccionar ruta</h4></center>
  <center><img src="assets/img/mapa.PNG" alt=""></center>
  

  <ion-button expand="block" color="mycolor" class="margen font" (click) = "pasarDatos()">Modificar viaje</ion-button>
</ion-content>
