.ion-color-mycolor {
	--ion-color-base: var(--ion-color-mycolor);
	--ion-color-base-rgb: var(--ion-color-mycolor-rgb);
	--ion-color-contrast: var(--ion-color-mycolor-contrast);
	--ion-color-contrast-rgb: var(--ion-color-mycolor-contrast-rgb);
	--ion-color-shade: var(--ion-color-mycolor-shade);
	--ion-color-tint: var(--ion-color-mycolor-tint);
}

.inpu{
	color: aliceblue;
}

img{
	margin-top: 20px;
	border-radius: 6px;
}

.inpu2{
	color: rgb(124, 134, 134);
}


.font{
	font-family: Silkscreen-Regular;
}

ion-input{
	font-family: Silkscreen-Regular;
}