<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="font">Viajes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <ion-list>
    <div *ngFor="let x of arregloViajes">
      <ion-item (click)="verViaje(x)">
        <img src="../../assets/img/cheems.png" alt="">
        <ion-label class="inpu font">Salida: {{ x.hora_salida }} - {{ x.destino }} <p>{{ x.asientos_ocupa }}/{{ x.asientos_dispo }} Asientos</p></ion-label>
      </ion-item>
    </div>
  </ion-list>
  
</ion-content>