<ion-header>
  <ion-toolbar color="mycolor">
    <ion-title class="font">Viajes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <ion-list>
    <ion-item [routerLink]="['/dato-v']">
      <img src="../../assets/img/cheems.png" alt="">
      <ion-label class="inpu font">Salida: 19:00 - Til-Til <p>0/4 Asientos</p></ion-label>
    </ion-item>
    <ion-item [routerLink]="['/dato-v']">
      <img src="../../assets/img/amongus.jpg" alt="">
      <ion-label class="inpu font">Salida: 19:00 - La Florida  <p>3/4 Asientos</p></ion-label>
    </ion-item>
    <ion-item [routerLink]="['/dato-v']">
      <img src="../../assets/img/megamente.jpg" alt="">
      <ion-label class="inpu font">Salida: 19:00 - Valle Grande  <p>2/4 Asientos</p></ion-label>
    </ion-item>
    <ion-item [routerLink]="['/dato-v']">
      <img src="../../assets/img/messi.jpg" alt="">
      <ion-label class="inpu font">Salida: 19:00 - Las Condes  <p>2/4 Asientos</p></ion-label>
    </ion-item>
    <ion-item [routerLink]="['/dato-v']">
      <img src="../../assets/img/alexis.jpg" alt="">
      <ion-label class="inpu font">Salida: 19:00 - Quilicura  <p>4/4 Asientos</p></ion-label>
    </ion-item>
  </ion-list>
  
</ion-content>